.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
}


@media (min-width: 768px) {
    .app-wrapper {
        display: grid;
        /*margin: 0 auto;*/
        /*width: 1200px;*/
        grid-template-columns:  200px 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 10px;

    }
}
